.rentingToBooking {
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
    display: flex;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.rentingToBooking .search {
    position: absolute;
    display: flex;
    left: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 1rem;
    color: whitesmoke;
    z-index: 1;
    flex: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left side */
    width: 100%;
    margin-left: 100px;
}

.form > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem; /* Adjust spacing between rows */
}

.form label {
    margin-bottom: 0.5rem; /* Space between label and input */
}

.form input,
.form select {
    width: 25%;
    height: 1.5rem; /* Adjust input height as needed */
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.form button {
    margin-top: 1rem; /* Space between last input and button */
    align-self: flex-start; /* Align the button to the left */
}


.hero .booking-view {
    position: absolute;
    display: flex;
    right: 0; /* Align the component to the right */
    width: 80%; /* Set the width to 50% to fit beside the search column */
    padding: 1rem; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding in the width calculation */
    z-index: 1;
    height: 50%;
    flex: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}

/* Style the hotels list */
.booking-view h1 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.booking-view ul {
    list-style-type: none;
    padding: 0;
}

.booking-view li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.booking-view li strong {
    font-weight: bold;
}

.booking-view li span {
    font-size: 0.8rem;
    color: #666;
}